* {
    font-family:'Courier New';
    font-size:14px;
}

.book {
    display:flex;
    justify-content: space-evenly;
    gap:3px;
    margin-bottom:3px;
}

.newBook, .book, .form {
    width: 700px;
}
 
.title, .author{
    width: 250px;
}

#titleInput, #authorInput, #pagesInput{
    width: 200px;
    margin-bottom:3px;
}

#readInput {
    margin:0px;
    margin-right:5px;
    margin-bottom:3px;
}

.pages, .read, .remove{
    width: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



